# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~

# Editor / IDE
.vscode/
.idea/
*.swp
*.swo
*.swn
*.bak

# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
.env
.venv/
venv/

# Logs
*.log

# OS generated
Icon?
.Spotlight-V100
.Trashes
