aws_region              = "us-east-1"
s3_bucket_name          = "olist-data-lake-yourname-2026"
redshift_namespace_name = "olist-namespace"
redshift_workgroup_name = "olist-workgroup"
redshift_db_name        = "olist"
redshift_admin_username = "adminuser"
redshift_admin_password = "YourStr0ngPassword!"
raw_schema              = "olist_raw"
prod_schema             = "olist_prod"
